<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>
<meta http-equiv="Content-Type" text1ent="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/plug-in/easyui/themes/black/easyui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plug-in/easyui/themes/icon.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style/css/operationView.css}">
<script type="text/javascript" th:src="@{/plug-in/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plug-in/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/plug-in/easyui/extends/datagridview/datagrid-detailview.js}"></script>
<script type="text/javascript" th:src="@{/plug-in/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/operationView.js}"></script>
</head>
<body>
	<div class="easyui-panel" data-options="fit:true">
		
	</div>
</body>
</html>