<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>数据分析</title>
<meta http-equiv="Content-Type" text1ent="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/plug-in/easyui/themes/black/easyui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plug-in/easyui/themes/icon.css}">
<script type="text/javascript" th:src="@{/plug-in/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plug-in/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/plug-in/echart/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/map.js}"></script>
<script type="text/javascript" th:src="@{/js/platform/analysis/indexView.js}"></script>
</head>
<body>
	<div class="easyui-panel" data-options="fit:true">
		<div id="psym" style="width: 100%; height: 400px;"></div>
		<div id="otym" style="width: 100%; height: 400px;"></div>
	</div>
</body>
</html>